html {
  color-scheme: dark;
}

body {
  font-family: sans-serif;
  width: max-content;
  margin: 1rem;
  background: #121212;
  color: #cccccc;
}

#container-title {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(53, 52, 52, 1) 30%,
    rgba(53, 52, 52, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  margin-bottom: 1.5rem;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.8rem;
  row-gap: 1.6rem;
}

@media screen and (min-width: 600px) {
  .img-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 0.8rem;
    row-gap: 1.6rem;
  }
}

.image-card {
  height: fit-content;
  border-radius: 1.5rem;
  padding: 0.6rem;
  background-color: #2b2a2a;
  overflow: hidden;
}

.image-preview {
  max-width: 150px;
  max-height: 150px;
  padding: 1px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: none;
  transition: all 350ms ease-in-out;
}
.image-preview:hover {
  filter: saturate(150%);
  box-shadow: 0 30px 50px -12px rgb(0 0 0 / 0.4);
}
/* Adjust <img/> bg color when transparency might occur */
.image-preview[src$=".png"],
.image-preview[src$=".gif"],
.image-preview[src$=".svg"],
.image-preview[src$=".ico"] {
  background-color: #e6e6e6;
}

.link-card {
  border-radius: 0.8rem;
  padding: 0.5rem;
  background-color: #353434;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.imgops-link {
  margin-top: 0.6rem;
  display: block;
  color: #2997ff;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}
